  <launch>
    <arg name="port_name" default="/dev/ttyGS0"/>
    <arg name="baud_rate" default="115200" />
    <node pkg="rtk_gps_pkg" type="rtk_gps_node" name="rtk_gps_node_name">
      <param name="port_name" value="$(arg port_name)"/>
      <param name="baud_rate" value="$(arg baud_rate)"/>
    </node>
    <node pkg="rtk_gps_pkg" type="gps2utm_node" name="gps2utm_node_name">
    </node>
  </launch>
